{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block body %}
<div class="container my-4 d-flex align-items-center justify-content-center">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Hello, Coders!</h1>
            <p class="lead my-3"> Welcome to Codify, a hub for upcoming developers! <br> This is where we post
                announcements, tips and tricks, new and updated features, fun roundups, new podcast episodes, and more.
            </p>
        </div>
        <p class="lead">
            <a class="btn btn-primary btn-lg mt-2" href="/about" role="button">Learn more</a>
        </p>
    </div>
</div>      
<!-- #marketing container -->
<div class="marketing container">
    <hr class="featurette-divider my-4 d-flex align-items-center justify-content-center">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                    mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose here.</p>
        </div>
        <div class="col-md-5">
            <img src="https://source.unsplash.com/500x500/?macbook,iphone">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                    yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5">
            <img src="https://source.unsplash.com/500x500/?technology">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like
                with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="https://source.unsplash.com/500x500/?developers">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
</div>
{% endblock body %}