{% extends 'base.html' %}

    {% block title %}Contact Us{% endblock title %}


  {% block body %}


    <h1 align="center" class="my-4">Contact Us</h1>
    <div class="container my-4 justify-content-center align-items-center d-flex">
        <form method="post" action="/contact">
        {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="mt-4">
                <label for="name">Full Name</label>
                <input class="form-control" type="text" placeholder="Full Name" id="name" name="name">
            </div>
            <div class="form-group mt-4">
                <label for="phone">Contact Number</label>
                <input type="name" class="form-control" id="phone" placeholder="Contact Number" name="phone">
            </div>
            <div class="form-check mt-4 mb-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Do you wish to recieve promotional emails from
                    us?</label>
            </div>
            <button type="submit" class="btn btn-primary" id="liveAlertBtn">Submit</button>
        </form>
    </div>
{% endblock body %}


